.DS_Store
.python-version
/input/*
!/input/apo
/output/*
!/output/apo
/lib/__pycache__ 
/data/ 
/data/\~\$*
/data/cryptic_pocket_apo_bf.*
/data/cryptic_pocket_apo_increase*
/doc/\~\$* 
/doc/reference/asai_syuron.pdf 
/doc/reference/thesis_2018_03_14_noguti01.pdf