.DS_Store
.python-version

/input/*
!/input/apo

/output/*
!/output/apo
!/output/apo_add_features

/lib/__pycache__ 

/data/*
!cryptic_pocket_apo_t*

/doc/\~\$* 
/doc/reference/asai_syuron.pdf 
/doc/reference/thesis_2018_03_14_noguti01.pdf


/make_dataset/mydata/input/train/LBSp_dataset/CryptoSite_overlap_data_files
/make_dataset/mydata/input/train/LBSp_dataset/data_files/*.pdb1
/make_dataset/mydata/input/train/LBSp_dataset/data_files/apo/input
/make_dataset/mydata/input/train/LBSp_dataset/data_files/holo/input